fieldset {border-radius: 6px; border: 1px solid #eaa700}
input {cursor:pointer;margin:3px;padding:5px 3px;}
legend {color:#9a6e01;}

.content_block_right {text-align:right;}

/* для скриптов */

.hidden {
    display: none !important;
}

/* навигационные вкладки и контент */

.content {display: none; padding:30px 10px 10px 10px}
.content_active {display: block;}
.navpanel {position:absolute;top:0;left:0;color:#ffffff;text-align:center;width:100%;}
.navpanel div {cursor:pointer;background:#eaa700;padding:5px 10px 5px 10px;display:inline-block;vertical-align:top;}
.navpanel div.active {background:#ffbe1c;color:#775500;}
.navpanel div:hover {padding-top:15px;}

/* вкладка управления */

#content_managing {text-align: center;}
#content_managing input.turn_button {color:white; font-size: 18pt; border-radius: 15px; margin: 5px; padding: 16px 27px;}
#content_managing input.turn_button[data-value="0"] {background: #c70005;}
#content_managing input.turn_button[data-value="1"] {background: green;}

/* консоль уведомлений */

#notes{position:fixed;bottom:0;right:0;width:100%;text-align:left; display: flex;flex-flow: wrap-reverse;}
#notes .note{background:rgba(34, 34, 34, 0.8);padding:5px;overflow-x:auto;width:100%;}
#notes .note:nth-child(2) {opacity:0.85;}
#notes .note:nth-child(3) {opacity:0.70;}
#notes .note:nth-child(4) {opacity:0.55;}

/* color picker */

#picker {display: inline-block; cursor: crosshair; position: relative;}
#slide {display: inline-block; cursor: crosshair; position: relative; width:25px; }

/* color picker (Common stuff) */

.picker-indicator,
.slide-indicator {
    position: absolute;
    left: 0;
    top: 0;
}
.picker,
.slide {
    cursor: crosshair;
    float: left;
}
/* color-picker */

.cp-default {
}
.cp-default .picker {
    width: 200px;
    height: 200px;
}
.cp-default .slide {
    width: 30px;
    height: 200px;
}
.cp-default .slide-wrapper {
    margin-left: 10px;
}
.cp-default .picker-indicator {
    width: 5px;
    height: 5px;
    border: 2px solid darkblue;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: alpha(opacity=50);
    background-color: white;
}
.cp-default .slide-indicator {
    width: 100%;
    height: 10px;
    left: -4px;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter: alpha(opacity=60);
    border: 4px solid lightblue;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
}
